                                                      // Animation : Cards
@keyframes progress_anim {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
                                                      // Animation : Check cards
@keyframes rotate_check {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
                                                      // Animation : Loading spinner
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}                                                     
@keyframes loading {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -3;
    }
}






