@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$primary: #9356DC;
$secondary: #ff79da;
$tertiary: #99e2d0;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    min-width: 360px;
    background: #f6f6f6;
}

h1 {
    font-family: "Shrikhand", sans-serif;
    font-size: 28px;
    font-weight: 400;
    // padding-right: 50px;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}

h4 {
    font-size: 18px;
    margin: 12px 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 12px;

    
    
}

li {
    list-style: none;
}

header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    
    #Home {
        position: relative;
        right: 150px;
        font-size: 20px;
        padding-top: 5px;
        color: #5a5a5a ;

        a:visited {
            color: #5a5a5a;
        }
}
    
    #Header_logo {
        display: flex;
        justify-content: center;
        padding: 22px 0 12px 0;
        position: absolute;
    
        img {
            height: 30px;
            width: auto;
        }
    }
}


    


#menu_img {
    img {
        width: 100%;
        height: auto;
        max-height: 255px;
        object-fit: cover;
    }
}

#body {
    background: #f6f6f6;
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 12px;
    
}

#title {
    margin: auto;
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    padding: 35px 20px 25px 8px;

    i {
        font-size: 25px;
        // padding-right: 15px;
        // margin-left: 30px;
    }
}

.bar {
    background: $tertiary;
    height: 3px;
    width: 40px;
    margin: 5px 0 14px 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // width: 100%;
    max-width: 375px;
}

.menu_card {
    background: white;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // align-content: center;
    height: 70px;
    width: 100%;
    // width: 360px;
    border-radius: 15px;
    // padding: 0 10px 0 15px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 14px;
    box-shadow: 0 1px 10px #e7e7e7;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    &:hover {
        .right_subtext{
            margin-right: 0;
        }
        .fa-check-circle {
            animation: rotate_check .5s;
        }
    }
    
    .menu_text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-left: 12px;
        overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // border: 1px solid red;
    // padding-left: 10px;
    max-width: 77%;
    }

    .right_subtext {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // max-width: 100%;
        // width: max-content;
        // border: 1px solid green;
        margin-right: -72px;
        height: 100%;
        // width: 350px;
        transition: .5s;
    }


    .price {
        font-weight: 600;
        // position: relative;
        padding: 35px 25px 8px 0;
        margin-left: 12px;
    }

    .check {
        background: $tertiary;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 25px;
        color: white;
        width: 60px;
        border-radius: 0 15px 15px 0;
    }
}

#starter {
    margin: auto;
    max-width: 380px;
    // padding: 0 12px;
    display: flex;
    flex-direction: column;
    .menu_card {
        animation: progress_anim 1s;
        animation-fill-mode: forwards;
    }
}

#main_menu {
    margin: auto;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .menu_card {
        animation: progress_anim 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
}

#dessert {
    margin: auto;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .menu_card {
        animation: progress_anim 1s;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
    }
}

#command {
    display: flex;
    justify-content: center;

    #command_button {
        color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient($secondary, $primary);
            height: 50px;
            width: 200px;
            padding: 0 20px;
            border-radius: 30px;
            box-shadow: 0 3px 8px 2px #cfcfcf;
            margin: 30px 0 20px 0;
            cursor: pointer;
            &:hover {
                opacity: .9;
                box-shadow: 0 0 8px 4px #cfcfcf;
                transition: 0.1s;
    }
}
@import url("footer.css");

}

