@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("footer.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 350px;
  background: #f6f6f6;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}

h4 {
  font-size: 18px;
  margin: 12px 0 5px 0;
}

p {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li {
  list-style: none;
}

header {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
}

header #Home {
  position: relative;
  right: 150px;
  font-size: 20px;
  padding-top: 5px;
  color: #5a5a5a;
}

header #Home a:visited {
  color: #5a5a5a;
}

header #Header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px 0 12px 0;
  position: absolute;
}

header #Header_logo img {
  height: 30px;
  width: auto;
}

#menu_img img {
  width: 100%;
  height: auto;
  max-height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

#body {
  background: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12px;
}

#title {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 15px 25px 8px;
}

#title i {
  font-size: 25px;
}

.bar {
  background: #99e2d0;
  height: 3px;
  width: 40px;
  margin: 5px 0 14px 5px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_card {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  max-width: 420px;
  border-radius: 15px;
  margin-bottom: 14px;
  -webkit-box-shadow: 0 1px 10px #e7e7e7;
          box-shadow: 0 1px 10px #e7e7e7;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu_card .text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_card .subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#starter {
  margin: auto;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main_menu {
  margin: auto;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

#dessert {
  margin: auto;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

#command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#command #command_button {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356DC));
  background: linear-gradient(#ff79da, #9356DC);
  height: 50px;
  width: 200px;
  padding: 0 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 8px 2px #cfcfcf;
          box-shadow: 0 3px 8px 2px #cfcfcf;
  margin: 30px 0 20px 0;
  cursor: pointer;
}

#command #command_button:hover {
  opacity: .9;
  -webkit-box-shadow: 0 0 8px 4px #cfcfcf;
          box-shadow: 0 0 8px 4px #cfcfcf;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
/*# sourceMappingURL=menu.css.map */