@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import '_variables.scss';
@import '_reglages-menu.scss';

                                                      // Header
header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;    
    #Home {
        position: relative;
        right: 150px;
        font-size: 20px;
        padding-top: 5px;
        color: #5a5a5a ;

        a:visited {
            color: #5a5a5a;
        }
    }   
    #Header_logo {
        display: flex;
        justify-content: center;
        padding: 22px 0 12px 0;
        position: absolute;
    
        img {
            height: 30px;
            width: auto;
        }
    }
}
                                                      // Image
#menu_img {
    img {
        width: 100%;
        height: auto;
        max-height: 255px;
        object-fit: cover;
    }
}
                                                      // Body
#body {
    background: #f6f6f6;
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
                                                      // Restaurant
#title {
    margin: auto;
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    padding: 35px 20px 25px 8px;

    i {
        font-size: 25px;
    }
}
.bar {
    background: $tertiary;
    height: 3px;
    width: 40px;
    margin: 5px 0 14px 20px;
}
                                                      // Cards container
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 375px;
}
                                                      // Check
input {
    display: none;
}
label {
    width: 100%;
}
.checkbox:checked + label .right_subtext{
    margin-right: 0;
}
.checkbox:checked + label .fa-check-circle {
    animation: rotate_check .5s;
}
                                                      // Cards
.menu_card {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 14px;
    box-shadow: 0 1px 10px #e7e7e7;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    
    .menu_text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-left: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 77%;
    }
    .right_subtext {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: -72px;
        height: 100%;
        transition: .5s;
    }
    .price {
        font-weight: 600;
        padding: 35px 25px 8px 0;
        margin-left: 12px;
    }
    .check {
        background: $tertiary;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 25px;
        color: white;
        width: 60px;
        border-radius: 0 15px 15px 0;
    }
}
                                                      // Starter
#starter {
    margin: auto;
    max-width: 380px;
    display: flex;
    flex-direction: column;

    .menu_card {
        animation: progress_anim 1s;
        animation-fill-mode: forwards;
    }
}
                                                      // Main menu
#main_menu {
    margin: auto;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .menu_card {
        animation: progress_anim 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
}
                                                      // Dessert
#dessert {
    margin: auto;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .menu_card {
        animation: progress_anim 1s;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
    }
}
                                                      // Command button
#command {
    display: flex;
    justify-content: center;

    #command_button {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient($secondary, $primary);
        height: 50px;
        width: 200px;
        padding: 0 20px;
        border-radius: 30px;
        box-shadow: 0 3px 8px 2px #cfcfcf;
        margin: 30px 0 20px 0;
        cursor: pointer;
        &:hover {
            opacity: .9;
            box-shadow: 0 0 8px 4px #cfcfcf;
            transition: 0.1s;
        }
    }
}
                                                      // Footer
footer {
    background: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 0 25px 20px;
    
    #Footer_bloc {
        width: 350px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    li {
        margin-bottom: 8px;
        font-size: 16px;

        a{
            text-decoration: none;
            color: white;
        }
        i {
            margin-right: 12px;
            font-size: 12px;
        }
        .fa-hands-helping {
            width: 10px;
        }
    }
}
                                                      // Tablette/ Desktop
@media screen and (min-width: 760px) {
    .cards {
        width: 100%;
        max-width: none;
        justify-content: space-evenly;
    }
    #starter, #main_menu, #dessert {
        max-width: none;
        width: 100%;
        .class {
            display: flex;
            flex-direction: column;
            align-self: center;
        }
    }
    #main_menu .class {
        margin-left: -20px;
    }
    #body {
        width: 100%;
    }
    #Footer_bloc {
        align-items: center;

        h2 {
            margin-right: 85px;
        }
    }
}