@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}

body {
  min-width: 360px;
  background: #f6f6f6;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}

.h4 {
  font-size: 18px;
  margin: 12px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}

.p {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 12px;
}

footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 19px;
  margin: -5px 0 15px 0;
}

li {
  list-style: none;
}

header {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
}

header #Home {
  position: relative;
  right: 150px;
  font-size: 20px;
  padding-top: 5px;
  color: #5a5a5a;
}

header #Home a:visited {
  color: #5a5a5a;
}

header #Header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px 0 12px 0;
  position: absolute;
}

header #Header_logo img {
  height: 30px;
  width: auto;
}

#menu_img img {
  width: 100%;
  height: auto;
  max-height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

#body {
  background: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 20px 25px 8px;
}

#title i {
  font-size: 25px;
}

.bar {
  background: #99e2d0;
  height: 3px;
  width: 40px;
  margin: 5px 0 14px 20px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 375px;
}

input {
  display: none;
}

label {
  width: 100%;
}

.checkbox:checked + label .right_subtext {
  margin-right: 0;
}

.checkbox:checked + label .fa-check-circle {
  -webkit-animation: rotate_check .5s;
          animation: rotate_check .5s;
}

.menu_card {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 14px;
  -webkit-box-shadow: 0 1px 10px #e7e7e7;
          box-shadow: 0 1px 10px #e7e7e7;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}

.menu_card .menu_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  margin-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 77%;
}

.menu_card .right_subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -72px;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu_card .price {
  font-weight: 600;
  padding: 35px 25px 8px 0;
  margin-left: 12px;
}

.menu_card .check {
  background: #99e2d0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 25px;
  color: white;
  width: 60px;
  border-radius: 0 15px 15px 0;
}

#starter {
  margin: auto;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#starter .menu_card {
  -webkit-animation: progress_anim 1s;
          animation: progress_anim 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#main_menu {
  margin: auto;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

#main_menu .menu_card {
  -webkit-animation: progress_anim 1s;
          animation: progress_anim 1s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#dessert {
  margin: auto;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

#dessert .menu_card {
  -webkit-animation: progress_anim 1s;
          animation: progress_anim 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#command #command_button {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356DC));
  background: linear-gradient(#ff79da, #9356DC);
  height: 50px;
  width: 200px;
  padding: 0 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 8px 2px #cfcfcf;
          box-shadow: 0 3px 8px 2px #cfcfcf;
  margin: 30px 0 20px 0;
  cursor: pointer;
}

#command #command_button:hover {
  opacity: .9;
  -webkit-box-shadow: 0 0 8px 4px #cfcfcf;
          box-shadow: 0 0 8px 4px #cfcfcf;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

footer {
  background: #353535;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px 0 25px 20px;
}

footer #Footer_bloc {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

footer li {
  margin-bottom: 8px;
  font-size: 16px;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer li i {
  margin-right: 12px;
  font-size: 12px;
}

footer li .fa-hands-helping {
  width: 10px;
}

@media screen and (min-width: 760px) {
  .cards {
    width: 100%;
    max-width: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #starter, #main_menu, #dessert {
    max-width: none;
    width: 100%;
  }
  #starter .class, #main_menu .class, #dessert .class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
  }
  #main_menu .class {
    margin-left: -20px;
  }
  #body {
    width: 100%;
  }
  #Footer_bloc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #Footer_bloc h2 {
    margin-right: 85px;
  }
}
/*# sourceMappingURL=menu.css.map */