@-webkit-keyframes progress_anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes progress_anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes progress_check {
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes progress_check {
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes rotate_check {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

@keyframes rotate_check {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

@-webkit-keyframes progress_unchecked {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}

@keyframes progress_unchecked {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}

.menu_card .check {
  -webkit-animation: progress_check 1s;
          animation: progress_check 1s;
}

.menu_card .check .fa-check-circle {
  -webkit-animation: rotate_check 1s;
          animation: rotate_check 1s;
}

#starter .menu_card {
  -webkit-animation: progress_anim 1s;
          animation: progress_anim 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: right;
          transform-origin: right;
}

#main_menu .menu_card {
  -webkit-animation: progress_anim 1s;
          animation: progress_anim 1s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#dessert .menu_card {
  -webkit-animation: progress_anim 1s;
          animation: progress_anim 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.like_menu {
  display: none;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.check {
  background: #99e2d0;
  font-size: 30px;
  color: white;
  width: 80px;
  border-radius: 0px 15px 15px 0;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.like_menu:checked ~ label .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=anim-menu.css.map */